/*-----------MENU-----------*/

.menu-header-container {
	background-image: url(../img/menus.jpg);
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 35vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
}

.menu-header-section h3 {
	font-family: 'Vollkorn';
	font-weight: 700;
	font-size: clamp(40px, 6vw, 85px);
	color: #ffffff;
}
.container {
	display: flex;
	padding: 3% 20% 3% 20%;
}

#menuCategories {
	display: flex;
	flex-direction: column;
}

#menuCategories button {
	background: none;
	border: none;
	cursor: pointer;
	white-space: nowrap;
	font-size: 22px;
	font-family: 'Vollkorn';
	font-weight: 650;
}

.menu-category {
	display: flex;
	align-items: center;
}

.menu-category img {
	width: 26px;
	margin-right: 10px;
}

#categoryContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: 12%;
}

.menu-title {
	display: flex;
	justify-content: center;
	padding-bottom: 40px;
}

.title-name {
	font-size: 30px;
	font-family: 'Vollkorn';
	font-weight: 700;
}

.menu-item {
	display: flex;
	justify-content: space-between;
}

.menu-item:not(:first-child) {
	padding-top: 20px;
}

.item-description {
	width: 90%;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.item-name {
	white-space: wrap;
	font-family: 'oswald';
	font-weight: 500;
	font-size: 23px;
}

.item-details {
	font-family: 'oswald';
	font-weight: 300;
	font-size: 20px;
}

.item-price {
	white-space: nowrap;
	white-space: nowrap;
	font-weight: 600;
	font-family: 'Oswald';
	font-size: 20px;
}
