* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.logo {
	width: 190px;
}

.hamburger {
	display: none;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100px;
	width: 100%;
	z-index: 100;
	padding: 0 13% 0 13%;
	background: rgb(0, 0, 0, 0.6);
}
.scrolled {
	background-color: red; /* Przykładowe tło, można dostosować */
}

.nav-bar ul {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav-bar ul li a {
	display: inline-block;
	font-size: 1.125rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 6px 10px;
	color: white;
	cursor: pointer;
}

.nav-bar ul li a:hover {
	color: #ffa500;
}

.nav-bar a.active {
	position: relative;
}

.nav-bar a.active::after {
	content: '';
	position: absolute;
	bottom: -1px; /* Odsunięcie podkreślenia od tekstu */
	left: 0;
	right: 0;
	height: 2px; /* Wysokość kreski podkreślenia */
	background-color: #ffa500; /* Kolor kreski podkreślenia */
	margin: auto; /* Centrowanie kreski */
}

.nav-bar ul li ul {
	position: absolute;
	width: 280px;
	background: #fff;
	display: none;
	border-radius: 10px;
	padding-top: 1.3rem;
	padding-bottom: 0.5rem;
	border: 1px solid black;
}

.nav-bar ul li ul li a {
	font-size: 23px;
	padding-top: 0.6rem;
	padding-left: 2rem;
	font-size: 1rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	color: black;
}
.nav-dropdown .arrow::after {
	content: '';
	display: inline-block;
	margin-left: 5px; /* Odstęp od tekstu */
	vertical-align: middle; /* Wyśrodkowanie względem tekstu */
	border-left: 5px solid transparent; /* Lewa strona trójkąta */
	border-right: 5px solid transparent; /* Prawa strona trójkąta */
	border-top: 5px solid white; /* Górna strona trójkąta, kolor biały */
}

.nav-bar .dropdown-active ul {
	display: initial;
}

.image-filter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../img/DJI_040922.JPG);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-filter: brightness(65%);
	filter: brightness(65%);
}

.main-image {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.main-container {
	width: 100%;
	position: absolute;
	padding: 0 15% 0 15%;
	transform: translateY(-50%);
	top: 50%;
}

.main-container h3 {
	font-size: 35px;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #ff6e4e;
	text-shadow: -10px 8px 13px rgba(0, 0, 0, 0.75);
}

.main-container h2 {
	font-size: 80px;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0px;
	text-transform: none;
	margin-bottom: 10px;
	color: white;
	text-shadow: -10px 8px 13px rgba(0, 0, 0, 0.75);
}

.main-container a {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	transition: all 0.15s ease-in-out;
	text-decoration: none;
	min-height: 50px;
	padding: 10px 30px;
	border: none;
	background: #ff6e4e;
	border-radius: 6px;
	color: white;
	font-size: 1rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.25;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 3px;
	border-width: 2px;
}

.discover-section {
	display: flex;
	justify-content: center; /* Center the items horizontally */
	align-items: center;
	position: relative;
	margin: 50px 0; /* Adjust the space around the section as needed */
	overflow: hidden; /* To ensure that nothing spills out of the section boundary */
	padding: 0 10% 0 10%;
	background-color: #fff;
}

.content-wrapper {
	flex: 1; /* This ensures that the content takes up only as much space as it needs */
	z-index: 2; /* Ensure the text is above the image */
	display: flex;
	justify-content: flex-end; /* Align content-text to the right side */
}

.content-text {
	position: relative;
	background-color: #f9f6ef;
	padding: 50px; /* Adjust padding as needed */
	margin-right: -100px; /* This negative margin will cause the overlap */
	box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.15); /* Optional shadow for better separation */
}

.content-text h2 {
	color: #ff6e4e;
	font-size: 1.3rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0 0 10px;
}

.content-text h1 {
	font-size: 2.5rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0px;
	text-transform: none;
	margin-bottom: 10px;
	margin-bottom: 0.5em;
}

.content-text p {
	margin-bottom: 1em;
	color: #545454;
	font-size: 1.2rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
	text-transform: none;
}

.btn-contact {
	background-color: transparent;
	color: black;
	padding: 10px 20px;
	border: 2px solid black;
	cursor: pointer;
	font-size: 1rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.25;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 3px;
	border-width: 2px;
}

.content-image {
	flex: 1; /* This ensures that the image can take up the remaining space */
	position: relative;
	z-index: 1; /* Ensure the image is below the text */
	max-width: 50%; /* Limiting image width to half of the section */
	display: flex;
	justify-content: flex-start; /* Align the image to the left side */
}

.content-image img {
	max-width: 100%; /* The image will fill its container */
	height: auto;
	display: block;
	border-radius: 10px;
}

.content-wrapper,
.content-image {
	transition: transform 0.7s ease-out;
	transform: translateX(-100%); /* Domyślne przesunięcie dla .content-wrapper */
}

.content-image {
	transform: translateX(100%); /* Domyślne przesunięcie dla .content-image */
}

/* Klasy dodane przez JavaScript podczas przewijania */
.visible {
	transform: translateX(0);
}

/* Animacja dla content-wrapper */
.animate-content-wrapper {
	animation: slideInLeft 1s forwards; /* 1s to czas trwania animacji */
}

/* Animacja dla content-image */
.animate-content-image {
	animation: slideInRight 1s forwards; /* 1s to czas trwania animacji */
}

/* Kluczowe klatki dla animacji slideInLeft */
@keyframes slideInLeft {
	from {
		transform: translateX(-100%); /* Początek poza ekranem z lewej strony */
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

/* Kluczowe klatki dla animacji slideInRight */
@keyframes slideInRight {
	from {
		transform: translateX(100%); /* Początek poza ekranem z prawej strony */
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

.container-services {
	background-color: #f9f6ef;
}

.services-info {
	display: flex;
	padding-top: 5rem;
	padding-bottom: 5rem;
	justify-content: center;
}

.services-info h1 {
	color: #ff6e4e;
	font-size: 1.6rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.font-img {
	font-size: 1.3rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0px;
	text-transform: none;
	padding-top: 12px;
}

.services-img {
	max-width: 100%;
	height: auto;
	border-radius: 20px;
}

.services {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.services-data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	column-gap: 5%;
	row-gap: 8%;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 8%;
}

/*traditional*/

.trad-title {
	color: #ff6e4e;
	font-size: 1.6rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: nowrap;
}

.trad-description {
	margin-bottom: 1em;
	color: #545454;
	font-size: 1.2rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0px;
	text-transform: none;
	color: #545454;
	padding-bottom: 20px;
	padding-top: 15px;
}

.trad-img {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

.flex-container-trad {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 5rem;
	padding-bottom: 5rem;
	gap: 13.333%;
}

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	vertical-align: middle;
	transition: all 0.15s ease-in-out;
	text-decoration: none;
	min-height: 50px;
	padding: 10px 30px;
	border: none;
	background: #ff6e4e;
	border-radius: 6px;
	color: white;
	font-size: 1rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.25;
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 3px;
	border-width: 2px;
}

/*gallery*/

.gallery-title {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 5rem;
}

.gallery-title h1 {
	color: #ff6e4e;
	font-size: 1.6rem;
	font-style: normal;
	font-family: Yantramanav;
	font-weight: 900;
	line-height: 1.5;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 3rem;
	padding-bottom: 5rem;
	row-gap: 2%;
	column-gap: 2%;
}

.gallery-item img {
	max-width: 100%;
	height: auto;
}

@media screen and (max-width: 720px) {
	.gallery {
		grid-template-columns: repeat(1, 1fr);
		padding-top: 2rem;
		row-gap: 2%;
		column-gap: 2%;
	}

	.gallery-title {
		padding-top: 2rem;
	}
}

/*footer*/

footer {
	padding-top: 30px;
	background: #282828;
}

.container-footer {
	padding-right: 8%;
	padding-left: 8%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.logo-footer {
	width: 145px;
}

.column-social {
	display: flex;
	flex-direction: column;
}

.social-name {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #ffffff;
}

.social-adress {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #cdaa7c;
}

.column-menu h2 {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	color: #ffffff;
	padding-bottom: 5px;
}

.column-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}

.column-menu a {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #999999;
}

.column-text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.column-contact {
	display: flex;
	justify-content: flex-end;
}

.column-contact h2 {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	color: #ffffff;
	padding-bottom: 5px;
}

.contact-subtitle {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 600;
	font-size: 1.3rem;
	color: #cdaa7c;
}

.contact-phone {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 400;
	font-size: 23px;
	color: #999999;
}

.contact-email {
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 600;
	font-size: 19px;
	color: #999999;
}

.column-opening {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.opening-hours h2 {
	padding-bottom: 10px;
	font-family: 'Vollkorn';
	font-style: normal;
	font-weight: 500;
	font-size: 1.4rem;
	color: #ffffff;
	text-align: center;
}

.opening-hours {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 26px;
	color: #999999;
}

.opening-hours-table tr td {
	padding: 5px;
}

.linia-footer {
	margin-top: 30px;
	border: 1px solid #6c6c6c;
	transform: matrix(1, 0, 0, 1, 0, 0);
	margin-left: 8%;
	margin-right: 8%;
}

.footer-copy {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
	line-height: 50px;
}

@media screen and (max-width: 1199px) {
	.container-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.column-social {
		align-items: center;
		order: 1;
	}

	.column-menu {
		padding-top: 4.8rem;
		align-items: center;
		order: 4;
	}

	.column-contact {
		justify-content: center;
		padding-top: 2.5rem;
		order: 3;
	}

	.column-text {
		align-items: center;
		justify-content: center;
	}

	.column-opening {
		align-items: center;
		order: 2;
	}
}

@media screen and (max-width: 761px) {
	.container-footer {
		grid-template-columns: repeat(1, 1fr);
	}

	.logo-footer {
		width: 100px;
	}

	.column-social {
		align-items: center;
		order: 1;
	}

	.column-menu {
		display: none;
	}

	.column-contact {
		padding-top: 1.5rem;
		justify-content: center;
		order: 2;
	}

	.column-text {
		align-items: center;
		justify-content: center;
	}

	.column-opening {
		padding-top: 1.5rem;
		align-items: center;
		order: 3;
	}
}
